<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabajo_Final_Grupo_11_DAM"
        tools:targetApi="31">
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.Trabajo_Final_Grupo_11_DAM.NoActionBar" />

        <activity
            android:name=".Login.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.MainLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login.LoginSolicitudActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginCreacionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Login.LoginContraseñaResetActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.trabajo_final_grupo_11_dam"
                    android:pathPrefix="/reset-password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginAccountVerifiedActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter android:label="filter_verify_account">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.trabajo_final_grupo_11_dam"
                    android:pathPrefix="/verify-account"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartaMenuActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

    </application>

</manifest>